<aside class="sidebar">
    <div class="sidebar-header">
      <h2 data-i18n="walletTitle">WRA9I</h2>
    </div>
    <nav class="sidebar-nav">
  
      <a href="Dashboard.html" data-page="Dashboard" data-i18n="dashboard"
        ><i data-feather="grid"></i> <span></span></a
      >
      <a href="#" id="settingsLink" data-page="Settings" data-i18n="settings"
        ><i data-feather="settings"></i> <span></span></a
      >
      <a href="#" id="securityLink" data-page="Security" data-i18n="security"
        ><i data-feather="shield"></i> <span></span></a
      >
    </nav>
    <div class="sidebar-footer">
      <button class="upload-btn-main" id="uploadBtnMain">
        <i data-feather="plus-circle"></i>
        <span data-i18n="uploadDocument">Upload Document</span>
      </button>
    </div>
  </aside>